.todo-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
}
body {
  padding: 50px;
  background-color: #9ad4f3;
  font-family: sans-serif;
}

.modal {
  background-color: #454444;
  color: #090a0a;
  position: absolute;
  width: 60%;
  height: 20%;
  left: 14%;
  top: 35%;
  padding: 20px;
}

/*Todo app title style*/
.title{
  color: #9ad4f3;
}
/* Todo form styles */
.outlined-basic {
  width: 100%;
}
.add-item-button{

  height: 100%;
}

/*popup window input*/
.window-input input {
  padding: 0 14px;
  height: 48px;
  transition: .25s border ease-in-out;
}
.window-input input:focus {
  outline: 0;
  border: 1px solid #0c0b0b;
}
/*todo item style*/
.standard-basic{
  width:300%;
}
.complete-button{
  left: 200%;
}
.item-remove{
  left: 1300%;
}
.move-item-button{
  left:1400%;
}
.todo-item-input-wrapper input {
  padding: 0 14px;
  width: 85%;
  height: 30px;
  transition: .25s border ease-in-out;
}
.todo-item-input-wrapper input:focus {
  outline: 0;
  border: 1px solid #3498db;
}
/*Todo List*/
.todo-list {
  width: 100%;
  maxWidth: 360;

  maxHeight: 100,
}
.todo-list-view{
  padding: 15px;

}
/*Buttons*/
/*Grid List Style*/
/*drag down menu*/

